%div.approvals-activity
  %table.table.table-hover.bordered
    %tbody
      -ApprovalDecorator.decorate_collection(@feed).each do |activity|
        %tr{ :class => activity.tr_class }
          -if activity[:value]
            %td
              %span.pull-left
                %span.label Donation
                %span{ :class=> activity.status_class }=activity.approval_status
            %td{:style => "text-align:center"}
              %strong=link_to "#{number_to_currency(activity.value)} raised", activity.object
              %span by
              %strong=link_to activity.user.name, profile_path(activity.user.id)
              %span="#{time_ago_in_words(activity.created_at)} ago."
            %td
              %span=activity.link_to_manage

          -if activity[:hours]
            %td{:style => "text-align:center"}
              %span.pull-left
                %span.label Volunteering
                %span{ :class=> activity.status_class }=activity.approval_status
            %td{:style => "text-align:center"}
              %strong=link_to "#{activity.hours} hours volunteered", activity.object
              %span by
              %strong=link_to activity.user.name, profile_path(activity.user.id)
              %span="#{time_ago_in_words(activity.created_at)} ago."
            %td
              %span=activity.link_to_manage
