%small
  Submitted
  %strong=resource.created_at.strftime("%b %e, %l:%M %p")
  by
  %strong="#{resource.user.name},"
  a
  %span=resource.user.member_type
  %br
  of the
  %strong=resource.user.chapter.name
  chapter of
  %strong=resource.user.organization.name
  at
  the
  %strong=resource.user.school.name
