=simple_form_for(@approval) do |f|
  =f.error_notification
  .form-inputs
    =f.input :comments, :placeholder => "Add comments here.", :label => false, :class=>"margin-control-20"
    =f.button :submit
