%div.school-chapters
  %table.table.table-hover.table-bordered.table-striped
    %tbody
      -ChapterDecorator.decorate_collection(current_user.school.chapters).each do |chapter|
        %tr
          %td.centered=link_to chapter.name, chapter
          %td.centered=chapter.total_raised
          %td.centered=chapter.total_hours
