.row-fluid
  .span6.offset3.well.margin-50.text-center
    -unless @approval.comments.blank?
      %strong Comments:
      =@approval.comments

    -if @approval.approvable.class == Donation
      %h4.inline
        Editing Approval:
      %span.font-18 #{@approval.approvable.title}
      %p
        %strong Donation Approved
        %span=@approval.approvable.approval.created_at.strftime("%b %e, %l:%M %p")
        by
        %strong=@approval.approvable.approval.user.name
      %p
        %strong Value:
        %span.font-success=number_to_currency(@approval.approvable.value)

    -elsif @approval.approvable.class == Volunteering
      %h4=@approval.approvable.title
      %p
        %strong Volunteering Approved
        %span=@approval.approvable.approval.created_at.strftime("%b %e, %l:%M %p")
        by
        %strong=@approval.approvable.approval.user.name
      %p
        %strong Value:
        %span=number_to_currency(@approval.approvable.hours)

.row-fluid
  .span6.offset3.panel.text-center
    =render :partial => "author", :locals => { :resource => @approval.approvable } if @approval.approvable

.row-fluid
  .span6.offset3.panel.text-center
    =render 'form'

-if current_user
  -if is_owner?(@approval)
    .row-fluid
      .span6.offset3.panel.text-center.padding-5
        %ul.manage-links
          %li=link_to raw('&larr; Back').html_safe, approvals_path
