.span10.offset1
  -if current_user
    -if current_user.can_edit_chapter?(@chapter)
      %ul.unstyled.inline.margin-top-50.pull-right.li-5
        / %li=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini blk-text"
        %li=link_to 'Activity', "#", :class => "btn btn-mini btn-info show-activity"
        %li=link_to 'Chapters', "#", :class => "btn btn-mini btn-primary show-chapters"

  %h4.margin-top-50.text-center Recent activity from the #{current_user.school.name} awaiting your approval.

  %ul.inline.unstyled.text-center.margin-control-30{:style=>"font-size:9px;"}
    %li{:style => "margin:0 25px;"}
      Unapproved Donations:
      .label.label-warning=@user.school.donations.unapproved
    %li{:style => "margin:0 25px;"}
      Unapproved Volunteerings:
      .label.label-warning=@user.school.volunteerings.unapproved
    %li{:style => "margin:0 25px;"}
      Total Acvities:
      .label.label-info=@user.school.sum_activities
    %li{:style => "margin:0 25px;"}
      Approved Acvities:
      .label.label-success=@user.school.approved_activities
    %li{:style => "margin:0 25px;"}
      %span="#{truncate(@user.school.name, :length => 25)}'s Legitimacy Ratio:"
      .label.label-important="#{@user.school.legitimacy_ratio}%"

  =render "approvals_activity"
  =render "school_chapters"

  .row-fluid.text-center
    %span=link_to raw('&larr; Back').html_safe, :back

