/ = @approval.inspect
/ = @approval.approvable.inspect
.row-fluid
  .span6.offset3.well.margin-50.text-center
    -if @approval.approvable.class == Donation
      %h4=@approval.approvable.title
      %p
        %strong Donation Approved
        %span=@approval.approvable.approval.created_at.strftime("%b %e, %l:%M %p")
        by
        %strong=@approval.approvable.approval.user.name
      %p
        %strong Value:
        %span.font-success=number_to_currency(@approval.approvable.value)

    -elsif @approval.approvable.class == Volunteering
      %h4=@approval.approvable.title
      %p
        %strong Volunteering Approved
        %span=@approval.approvable.approval.created_at.strftime("%b %e, %l:%M %p")
        by
        %strong=@approval.approvable.approval.user.name
      %p
        %strong Hours:
        %span=@approval.approvable.hours

.row-fluid
  .span6.offset3.well.text-center
    =render :partial => "author", :locals => { :resource => @approval.approvable } if @approval.approvable

-if @approval.comments.present?
  .row-fluid
    .span6.offset3.well.text-center
      %strong Official's comments:
      %p=@approval.comments

-if current_user
  -if is_owner?(@approval)
    .row-fluid
      .span6.offset3.panel.text-center.padding-5
        %ul.manage-links
          %li=link_to raw('&larr; Back').html_safe, approvals_path
          \|
          %li=link_to 'Unapprove', @approval, :class=> "btn btn-mini btn-danger", method: :delete, :data => { :confirm => "Really Unapprove?" }
          \|
          %li=link_to 'Comment', edit_approval_path(@approval), :class=> "btn btn-mini"

  -else
    .row-fluid
      .span6.offset3.panel.text-center.padding-5
        %ul.manage-links
          %li=link_to raw('&larr; Back').html_safe, :back

-else
  .row-fluid
    .span6.offset3.panel.text-center.padding-5
      %ul.manage-links
        %li=link_to raw('&larr; Back').html_safe, :back
