.span4
  %div.well
    -unless @user._official? # org, chapter-related stats (official doesn't have these).
      %h5.inline="#{@user.member_type.titleize},"
      %h5.inline=link_to truncate(@user.chapter.name, :length => 20), @user.chapter
      %small chapter.
      %span
        %small.subtitle=@user.role
      %p
        %small=@user.chapter_raised_total
      %p
        %small=@user.chapter_hours_total
      %h5.inline=link_to truncate(@user.organization.name, :length => 20), @user.organization
      %span
        %small.subtitle=@user.org_legitimacy_ratio
      %p
        %small=@user.org_raised_total
      %p
        %small=@user.org_hours_total

    %h6.inline=link_to truncate(@user.school.name, :length => 28), @user.school
    %span
      %small.subtitle=@user.school_legitimacy_ratio
    %p
      %strong=@user.school.location
    %p
      %small=@user.school_raised_total
    %p
      %small=@user.school_hours_total

  -if !@user._official?
    .row-fluid
      .span12.well
        %div
          %p
            %strong Personal Statistics:
          %span=@user.total_raised # personal total
          %p
            %small.subtitle=@user.percentage_of_chapter_funds
        %div
          %span=@user.total_hours  # personal total
          %p
            %small.subtitle=@user.percentage_of_chapter_hours
  -elsif @user._official?
    .row-fluid
      .span12.well
        %p=@user.total_activities
        %p=@user.total_approved
        %p=@user.unapproved_donations
        %p=@user.unapproved_volunteerings
        %p=@user.legitimacy_ratio

  -if current_user
    -if current_user == @user
      %div.well.text-center.padding-20
        %h6 Activity Console
        %ul.unstyled.inline
          -unless @user._official?
            %li=link_to "Post Donations", donations_path,         :class => "btn btn-mini btn-success"
            %li=link_to "Post Volunteerings", volunteerings_path, :class => "btn btn-mini btn-danger"
          %li=link_to "New Blog", blogs_path,                     :class => "btn btn-mini btn-info"
