-unless @user.is_administrator?
  %th{:style => "text-align:center;"}
    %span=current_user == @user ? "Your Recent Activity" : "#{@user.first_name}'s Recent Activity"
-else
  %th{:style => "text-align:center;"}="#{@user.first_name}'s Recent Approvals"

-if @feed.present?
  -@feed.each do |feed|
    -if feed[:value]
      %tr
        %td{:style => "text-align:center"}
          %span.label.pull-left Donation
          %strong=link_to number_to_currency(feed.value), feed
          %span.label.label-success raised
          %span="#{time_ago_in_words(feed.created_at)} ago."

    -elsif feed[:hours]
      %tr
        %td{:style => "text-align:center"}
          %span.label.pull-left Volunteering
          %strong=link_to "#{feed.hours} hours", feed
          %span.label.label-important volunteered
          %span="#{time_ago_in_words(feed.created_at)} ago."
    -elsif feed.class == Blog
      %tr
        %td{:style => "text-align:center"}
          %span.label.pull-left Blog
          %strong=link_to truncate(feed.title, :length => 35), feed
          %span.label.label-info posted
          %span="#{time_ago_in_words(feed.created_at)} ago"

    -elsif feed.approvable.class == Donation
      %tr
        %td{:style => "text-align:center"}
          %span.pull-left
            %span.label Approval
            %span.label.label-success Donation
          %strong=link_to truncate(feed.approvable.title, :length => 28), feed.approvable
          %span.label.label-success approved
          %span="#{time_ago_in_words(feed.created_at)} ago."
    -elsif feed.approvable.class == Volunteering
      %tr
        %td{:style => "text-align:center"}
          %span.pull-left
            %span.label Approval
            %span.label.label-warning Volunteering
          %strong=link_to truncate(feed.approvable.title, :length => 28), feed.approvable
          %span.label.label-success approved
          %span="#{time_ago_in_words(feed.created_at)} ago."

-else
  %tr
    %td.empty-table
      %span=link_to raw("None! Review activity now &rarr;"), approvals_path, :class => "btn btn-large btn-danger"


