.row-fluid
  .span10.offset1
    .row-fluid.margin-top-25
      %span.gravatar=image_tag(@user.gravatar_url)
      %h2.inline=@user.full_name
      %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"
      %span.edit.subtitle=current_user == @user ? (link_to "Edit", account_path if current_user == @user) : @user.role_title

    .row-fluid
      =render "profile_sidebar"

      .span8
        %table.table.table-bordered.table-striped
          %tr
            =render "profile_feed"

