.row-fluid
  .span4.offset4.well.invite-well
    %div.fb-registration
      =form_tag() do
        .field=text_field_tag :email, params[:email]
        .field=password_field_tag :password, params[:password]
        .actions=submit_tag 'save', :class => 'btn'
