%ul
  -User.columns.each do |column|
    -if column.name.in? ["id", *User.accessible_attributes]
      %li
        %strong=column.name
        %span=column.type.to_s.titleize
        %span type

=form_for @user_import do |f|
  -if @user_import.errors.any?
    #error_explanation
      %h2=pluralize(@user_import.errors.count, "error") haulted this import
      %ul
        -@user_import.errors.full_messages.each do |msg|
          %li=msg

  .field=f.file_field :file
  .actions=f.submit "Import"
