%small
  Posted by
  %strong=link_to "#{@blog.user.name},", profile_path(@blog.user.id)
  a
  %span=@blog.user.member_type
  %br
  of the
  %b=@blog.user.chapter.name
  chapter of
  %b=@blog.user.organization.name
  at
  the
  %b=@blog.user.school.name
