=simple_form_for @blog do |f|
  -if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        -@blog.errors.full_messages.each do |msg|
          %li= msg
  %br
  .field=f.text_field :title, :placeholder => "Title"
  .field=f.text_area :body, :placeholder => "Article Content:"
  .field=f.submit "#{@blog.persisted? ? "Update" : "Post"}", :class => "btn btn-success btn-large"

