.row-fluid
  .span10.offset1.margin-top-25
    %h2.inline Blogs & News

    -if current_user
      %span.pull-right=link_to raw("Compose New " "<i class='icon-pencil icon-spin remove'></i>").html_safe, new_blog_path, :class => "btn btn-large btn-info"

    %table.table.table-bordered.table-striped
      %tr
        %th Title
        %th Author
        %th School
        %th Organization
        -if current_user
          -if current_user.has_role? :admin
            %th{colspan: 3} Manage

      -@blogs.each do |blog|
        %tr
          %td
            ="#{blog.created_at.localtime.strftime('%A %l:%m %p')}:"
            =link_to truncate(blog.title, :length => 70), blog, :title => raw("#{blog.user.organization.name.titleize} greek-life blog, at #{blog.user.school.name.titleize} &rarr;").html_safe
          %td=link_to "#{blog.user.first_name[0]}. #{blog.user.last_name}" , profile_path(blog.user.id)
          %td=link_to truncate(blog.user.school.name, :length=>25), blog.user.school, :title => raw("View #{blog.user.school.name} greek activity &rarr;").html_safe
          %td=link_to truncate(blog.user.organization.name, :length=>20), blog.user.organization, :title => raw("View #{blog.user.organization.gender} profile &rarr;").html_safe
          -if current_user
            -if current_user.has_role? :admin
              %td=link_to raw("<i class='icon-folder-open'></i>").html_safe, blog, :title => raw("View blog post &rarr;").html_safe
              %td=link_to raw("<i class='icon-edit'></i>").html_safe, edit_blog_path(blog), :title => raw("Edit blog post &rarr;").html_safe
              %td=link_to raw("<i class='icon-trash'></i>").html_safe, blog, :title => raw("Delete blog post?").html_safe, :method => :delete, :data => { :confirm => 'Are you sure?' }

    .row-fluid.text-center
      %span=link_to raw('&larr; Back').html_safe, :back
