.row-fluid
  .span8.offset2.panel.margin-top-50.text-center
    %h2=@blog.title

-if @blog.body
  .row-fluid
    .span8.offset2.panel.margin-control-25
      %p=@blog.body

.row-fluid
  .span8.offset2.panel.text-center
    =render 'author'

-if current_user
  -if is_owner?(@blog)
    .row-fluid
      .span8.offset2.panel.text-center.padding-5
        %ul.manage-links
          %li=link_to raw('&larr; Back').html_safe, :back
          \|
          %li=link_to 'Edit', edit_blog_path(@blog), :class => "btn btn-mini"
          \|
          %li.btn.btn-mini.btn-danger=link_to 'Delete', @blog, method: :delete, :data => { confirm: "Really Delete?" }
  -else
    .row-fluid
      .span8.offset2.text-center.padding-5
        %ul.manage-links
          %li=link_to raw('&larr; Back').html_safe, :back

-else
  .row-fluid.text-center
    %span=link_to raw('&larr; Back').html_safe, :back
