%h3.text-center Edit Your Account
.span8.offset2.well 
  .formify
    =simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
      =f.error_notification
      =display_base_errors resource
      =f.input :name, :autofocus => true, :label => false
      =f.input :email, :required => true, :label => false
      =f.input :current_password, :required => true, :label => false, :placeholder => "Changes? Enter current password."
      =f.input :password, :autocomplete => "off", :required => false, :label => false, :placeholder => "Or update password,"
      =f.input :password_confirmation, :required => false, :label => false, :placeholder => "then confirm updated password."
      =f.button :submit, 'Update', :class => 'btn-primary'
    %h3 Cancel Account?
    %p
      #{link_to "Cancel", registration_path(resource_name), :class => "btn", :data => { :confirm => "Are you sure?" }, :method => :delete}
    =link_to raw("&larr; Back").html_safe, :back
