.row-fluid
  .span4.offset4.well.invite-well
    %h3 Want in?
    %p Prove your philanthropy. Show up your rivals.
    %br
    =simple_form_for(resource, :as => resource_name, :method => :post, :url => registration_path(resource_name)) do |f|
      .field=devise_error_messages!
      .field=f.collection_select :school_id, School.all, :id, :name, :prompt => "Select Your School"
      .field=f.collection_select :organization_id, Organization.all, :id, :name, :prompt => "Confirm Your Organization"
      .field=f.collection_select :chapter_id, Chapter.all, :id, :name, :prompt => "Confirm Your Chapter"
      %span= f.email_field :email, :placeholder => "Email Address"
      .field
        =f.text_field :first_name, :placeholder => "First Name"
        =f.text_field :last_name, :placeholder => "Last Name"
      / # .field=f.text_field :name, :placeholder => "Enter Full Name"
      .field=f.button :submit, raw("Request Invite &rarr;").html_safe, :class => "button btn-large"
    %hr
    %small.dim By proceeding, you agree to our Terms of Service & Privacy Policy.
