.span6.offset3.well.text-center
  %small
    Time volunteered by
    %strong=link_to "#{@volunteering.user.name},", profile_path(@volunteering.user.id)
    a
    %span=@volunteering.user.gender
    %br
    of the
    %strong=link_to "#{@volunteering.user.chapter.name}", @volunteering.user.chapter, :title => raw("#{@volunteering.user.chapter.name.titleize} Chapter activity &rarr;").html_safe
    chapter of
    %strong=link_to @volunteering.user.organization.name, @volunteering.user.organization, :title => raw("#{@volunteering.user.organization.name.titleize} #{@volunteering.user.organization.gender.titleize} at #{@volunteering.user.school.name.titleize} &rarr;").html_safe
    at
    the
    %strong=link_to @volunteering.user.school.name, @volunteering.user.school, :title => raw("Greek-life activity at #{@volunteering.user.school.name.titleize} &rarr;").html_safe
