=simple_form_for @volunteering do |f|
  -if @volunteering.errors.any?
    #error_explanation
      %h2= "#{pluralize(@volunteering.errors.count, "error")} prohibited this volunteering from being saved:"
      %ul
        -@volunteering.errors.full_messages.each do |msg|
          %li= msg
  %br
  .field=f.text_field :hours, :placeholder => "Hours Volunteered"
  .field=f.text_field :beneficiary, :placeholder => "Beneficiary Name"
  .field=f.text_field :title, :placeholder => "Project Title"
  .field=f.text_field :location, :placeholder => "Location (Volunteering)"
  .field=f.text_field :sponsor, :placeholder => "Sponsor"
  .field=f.text_area :purpose, :placeholder => "Purpose of Volunteering"
  .field=f.submit 'Document', class: "btn btn-success btn-large"

