.row-fluid
  .span10.offset1.margin-top-25
    %h2.inline Volunteerings

    -unless !current_user or current_user._official?
      %span.pull-right.margin-control-15=link_to raw("Document Volunteer Hours &rarr;").html_safe, new_volunteering_path, :class => "btn btn-success btn-large"
    -else
      %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"

    %table.table.table-bordered.table-striped
      %tr
        %th Hours
        %th Title
        %th Beneficiary
        %th Location
        %th Purpose
        %th Sponsor
        -if current_user
          -if current_user.volunteerings.present?
            %th{colspan: 2} Manage

      -if current_user
        -if current_user.volunteerings.present?
          -current_user.volunteerings.each do |volunteering|
            %tr
              %td= volunteering.hours
              %td= link_to volunteering.title, volunteering
              %td= truncate(volunteering.beneficiary, :length => 20)
              %td= truncate(volunteering.location, :length => 20)
              %td= truncate(volunteering.purpose, :length => 20)
              %td= volunteering.sponsor
              -if is_owner?(volunteering)
                %td= link_to 'Edit', edit_volunteering_path(volunteering)
                %td= link_to 'Delete', volunteering, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -elsif current_user._official?
          %th.empty-table{colspan: 6}
            %span No recent activity!

      -else
        %th.empty-table{colspan: 6}
          %span No recent activity!
          %span.margin-sides-5 Get started:
          %span=link_to "Request Invite", register_path, :class => "btn btn-success btn-mini margin-sides-5"
          %span=link_to "Log In", login_path, :class => "btn btn-info btn-mini margin-sides-5"

    .row-fluid.text-center
      %span=link_to raw('&larr; Back').html_safe, :back
