-content_for :head do
  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# greekgood: http://ogp.me/ns/fb/greekgood#"}
    %meta{:content => ENV['APP_ID'], :property => "fb:app_id"}/
    %meta{:content => "greekgood:dollar", :property => "og:type"}/
    %meta{:content => volunteering_url(@volunteering), :property => "og:url"}/
    %meta{:content => @volunteering.hours, :property => "og:title"}/
    %meta{:content => "https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png", :property => "og:image"}/

.row-fluid
  .span6.offset3.panel.text-center.margin-top-50
    %h4.page-header=@volunteering.title.titleize
    %p
      %b Hours Volunteered:
      =@volunteering.hours

    %strong Beneficiary:
    .label=@volunteering.beneficiary

    %p
    %p
      %b Location:
      =@volunteering.location
    %p
      %b Purpose:
      =@volunteering.purpose
    %p
      %b Sponsor:
      =@volunteering.sponsor

    .label{ :class => @volunteering.label_class }=@volunteering.status

.row-fluid
  =render "author"

-if current_user
  .row-fluid
    .span6.offset3.text-center.margin-0.padding-5
      %ul.manage-links
        %li=link_to raw('&larr; Back').html_safe, :back
        -if !@volunteering.approved?
          -if current_user.can_approve?(@volunteering)
            \|
            %li=button_to 'Approve', { controller: "approvals", action: "create", id: @volunteering.id, approvable_type: "volunteering" }, :class => "btn btn-mini btn-success"
        -elsif is_owner?(@volunteering.approval)        # did you approve originally?
          \|
          %li=link_to 'Unapprove', @volunteering.approval, :class=> "btn btn-mini btn-danger", method: :delete, :data => { :confirm => "Really Unapprove?" }
        -elsif (is_owner?(@volunteering) || current_user.has_role?(:admin))
          \|
          %li=link_to 'Edit', edit_volunteering_path(@volunteering), :class=> "btn btn-mini"

-else
  .row-fluid.text-center
    %span=link_to raw('&larr; Back').html_safe, :back

