-if current_user.has_role? :admin
  =simple_form_for(@user, :url => url_for(:controller => 'users', :action => 'create')) do |f|
    -if @user.errors.any?
      #error_explanation
        %h6= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          -@user.errors.full_messages.each do |msg|
            %li= msg
    %br
    .field=f.text_field :first_name, :placeholder => "First name"
    .field=f.text_field :last_name, :placeholder => "Last name"
    .field=f.text_field :email, :placeholder => "Email"
    .field=select_tag "school", options_from_collection_for_select(@schools, "id", "name")
    .field=select_tag "role", options_from_collection_for_select(@roles, "id", "name")
    .actions=f.button :submit, 'Create', :class => "btn btn-success btn-large"
-else
  %span.text-center Not authorized.
