=simple_form_for(:user, :url => url_for(:controller => 'users', :action => 'update')) do |f|
  .field=f.select(:school_id, options_from_collection_for_select(@schools, :id, :name), prompt: "Select Your School")
  .field=f.select(:organization_id, options_from_collection_for_select(@organizations, :id, :name), prompt: "Select Your Organization")
  .field=f.select(:chapter_id, options_from_collection_for_select(@chapters, :id, :name), prompt: "Select Your Chapter")
  .actions=f.button :submit, "Register", class: "btn btn-success"