.modal{:id => "import-users", :style => "display: none;"}
  =form_tag import_users_path, multi_part: true do
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Bulk-Import Users Coming Soon.
    .modal-body
      %p Formatting guidelines:
      %ul
        %li
          %strong Organization name (column a):
          %span user's fraternity or sorority name.
        %li
          %strong Chapter name (column b):
          %span user's fraternity or sorority chapter's name.
        %li
          %strong School name (column c):
          %span user's school's name.
        %li
          %strong E-mail (column d):
          %span user's email.
        %li
          %strong First Name (column e):
          %span user's first name.
        %li
          %strong Last Name (column f):
          %span user's last name.

      .field=file_field_tag :file
    .modal-footer
      =submit_tag "Import", :class => "btn btn-success"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
