.span10.offset1
  %div.page-header
    %h3.inline Administration Dashboard
    %span
      %small.subtitle User Management
    %span.pull-right.margin-side-5=link_to raw("Create User " "<i class='icon-plus-sign'></i>").html_safe, new_user_path, :class => "btn btn-success"
    %span.pull-right.margin-top-20
      %a.btn{"data-toggle" => "modal", :href => "#import-users", :type => "button"} Import
      =render :partial => "import"
  %p
    Send Bulk Invitations:
    \#{link_to "10 &#183;".html_safe, bulk_invite_path(:quantity => '10')}
    \#{link_to "50 &#183;".html_safe, bulk_invite_path(:quantity => '50')}
    \#{link_to "100 &#183;".html_safe, bulk_invite_path(:quantity => '100')}
    \#{link_to "500 &#183;".html_safe, bulk_invite_path(:quantity => '500')}
    \#{link_to "1000", bulk_invite_path(:quantity => '1000')}
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Email
        %th Requested
        %th Invitation
        %th Joined
        %th Visits
        %th Most Recent
        %th Role
        %th
        %th
    %tbody
      -@users.each do |user|
        %tr
          %td=link_to user.full_name, profile_path(user.id)
          %td=user.email
          %td=user.created_at.to_date
          %td=(user.confirmation_token.nil? ? (link_to "Send Invitation", invite_user_path(user.id), {:class => 'btn btn-mini'}) : (link_to "resend", invite_user_path(user.id), {:class => 'btn btn-mini'})) unless user.confirmed_at
          %td=user.confirmed_at.to_date if user.confirmed_at
          %td=user.sign_in_count if user.sign_in_count
          %td=user.last_sign_in_at.to_date if user.last_sign_in_at
          %td=user.roles.first.name.titleize unless user.roles.first.nil?
          %td
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
            =render user
          %td=link_to("Delete user", user_path(user.id), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user
