.row-fluid.margin-top-50.text-center
  .span6.offset3.well
    %h1.inline Create New User
    %p
      %small.subtitle Administration Panel
    =render 'admin_form'
.row-fluid
  .span6.offset3.text-center
    =link_to raw('&larr; Back').html_safe, :back
