-content_for :carousel do
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target"        => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target"        => "#myCarousel"}

    / Carousel items
    .carousel-inner
      .active.item
        =image_tag("champs-b.png")
        /=image_tag("http://i.imgur.com/kaJaGaP.png")
        .carousel-caption
          %h3.romance Top-Ranked Greeks, by Funds Raised
          %ul.rank-list
            -@ranked_orgs.each do |org|
              %li.lead=link_to "#{org.name} raised $#{org.donations.sum(:value)}", organization_path(org)
      .item
        =image_tag("coed-b.png")
        /=image_tag("http://i.imgur.com/3R3xh6Y.png")
        .carousel-caption
          %h3.romance Top Schools by Greek Volunteer hours
          %ul.rank-list
            -@school_hours.each do |school|
              %li.lead=link_to "#{school.name}: #{school.volunteerings.sum(:hours)}", school_path(school)

      .item
        =image_tag("girls-b.png")
        /=image_tag("http://i.imgur.com/aEDWe3v.png")
        .carousel-caption
          %h3.romance Top Chapters by Funds Raised
          %ul.rank-list
            -@ranked_chapters.each do |chapter|
              %li.lead=link_to "$#{chapter.sum_donations} - #{chapter.organization.name}, #{truncate(chapter.school.name, length:40)}", organization_chapter_path(chapter.organization, chapter)

  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", href: "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", href: "#myCarousel"} ›
