%table.table.table-bordered.table-striped
  %tr
    %th{:style => "text-align:center"} Recent Activity

  -@feed.each do |feed|
    -if feed[:value]
      %tr
        %td{:style => "text-align:center"}
          %span.tiny-label.pull-left Donation
          %strong=link_to number_to_currency(feed.value), feed
          %span.label.label-success raised
          %span by
          %strong=link_to feed.user.full_name, profile_path(feed.user.id)
          %span="#{time_ago_in_words(feed.created_at)} ago"

    -elsif feed[:hours]
      %tr
        %td{:style => "text-align:center"}
          %span.tiny-label.pull-left Volunteering
          %strong=link_to "#{feed.hours} hours", feed
          %span.label.label-important volunteered
          %span by
          %strong=link_to feed.user.full_name, profile_path(feed.user.id)
          %span="#{time_ago_in_words(feed.created_at)} ago"

    -elsif feed.class == Blog
      %tr
        %td{:style => "text-align:center"}
          %span.tiny-label.pull-left Blog
          %strong=link_to "#{truncate(feed.title, :length => 27)}", feed
          %span.label.label-info posted
          %span by
          %strong=link_to feed.user.full_name, profile_path(feed.user.id)
          %span="#{time_ago_in_words(feed.created_at)} ago"
