#map
  :javascript
    $(document).ready(function(){
      var map = new GMaps({
        div: '#map',
        lat: #{@gmaps_options[:lat]},
        lng: #{@gmaps_options[:lng]},
        zoom: 5,
        zoomControl : true,
        zoomControlOpt: {
            style : 'SMALL',
            position: 'TOP_LEFT'
        },
        panControl : false
      });
      var markers = #{@gmaps_options[:markers].to_json}
      window.currentMarkers = {}
      markers.forEach(function(marker) {
        window.currentMarkers[marker['id']] = map.addMarker({
          lat: marker['lat'],
          lng: marker['lng'],
          zIndex: 10,
          infoWindow: {
            content: marker['time'] + ": " + marker['user'] + ", " + marker['chapter'] + ", " + marker['organization'] + " "
          }
        });
      });
    });
