.row-fluid
  .span8.offset2.margin-top-25
    %h3{ :style => "display:inline-block;"} Activity Feed
    %span.pull-right.margin-top-25=link_to raw("Dashboard &rarr;").html_safe, profile_path(current_user.id), :class=> "btn btn-mini"

    %table.table.table-bordered.table-striped
      %tr
        %th{:style => "text-align:center"} Recent National Activity
        -if @feed.present?
          -@feed.each do |activity|
            -next if activity.user == current_user
            -if activity[:value]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Donation
                  %span=activity.user.name
                  %span raised
                  %span.label.label-success=number_to_currency(activity.value)
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length => 40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity[:hours]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Volunteering
                  %span=activity.user.name
                  %span committed
                  %span.label.label-important="#{activity.hours} hours"
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length=>40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity.class == Blog
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Blog
                  %span=activity.user.name
                  %span.label.label-info posted
                  %strong=link_to "#{truncate(activity.title, :length => 50)},", activity
                  %span="#{time_ago_in_words(activity.created_at)} ago"
        -else
          %tr
            %td.empty-table
              %h6 No recent activity.
