.row-fluid
  .span8.offset2.margin-top-25
    %h3{ :style => "display:inline-block;"} Activity Feed
    %span.pull-right.margin-top-25=link_to raw("Dashboard &rarr;").html_safe, profile_path(current_user.id), :class=> "btn btn-mini"

.row-fluid
  .span8.offset2.margin-top-25
    %table.table.table-bordered.table-striped
      %tr
        %th{:style => "text-align:center"} Your Recent Activity
        -unless @personal.blank?
          -@personal.each do |activity|
            -if activity[:value]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Donation
                  %span You raised
                  %span.label.label-success=number_to_currency(activity.value)
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length => 40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity[:hours]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Volunteering
                  %span You committed
                  %span.label.label-important="#{activity.hours} hours"
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length=>40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity.class == Blog
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Blog
                  %span You
                  %span.label.label-info posted
                  %strong=link_to "#{truncate(activity.title, :length => 50)},", activity
                  %span="#{time_ago_in_words(activity.created_at)} ago"
        -else
          %tr
            %td.empty-table
              %h6 No activity yet!
              %span=link_to raw("Get started &rarr;").html_safe, profile_path(current_user.id)
.row-fluid
  .span8.offset2
    %table.table.table-bordered.table-striped
      %tr
        %th{:style => "text-align:center"} Recent Chapter Activity
        -if @chapter.present?
          -@chapter.each do |activity|
            -if activity[:value]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Donation
                  %span=activity.user.name
                  %span raised
                  %span.label.label-success=number_to_currency(activity.value)
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length => 40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity[:hours]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Volunteering
                  %span=activity.user.name
                  %span committed
                  %span.label.label-important="#{activity.hours} hours"
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length=>40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity.class == Blog
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Blog
                  %span=activity.user.name
                  %span.label.label-info posted
                  %strong=link_to "#{truncate(activity.title, :length => 50)},", activity
                  %span="#{time_ago_in_words(activity.created_at)} ago"
        -else
          %tr
            %td.empty-table
              %h6 No chapter activity.
.row-fluid
  .span8.offset2
    %table.table.table-bordered.table-striped
      %tr
        %th{:style => "text-align:center"} Recent Organization Activity
        -if @organization.present?
          -@organization.each do |activity|
            -if activity[:value]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Donation
                  %span=activity.user.name
                  %span raised
                  %span.label.label-success=number_to_currency(activity.value)
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length => 40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity[:hours]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Volunteering
                  %span=activity.user.name
                  %span committed
                  %span.label.label-important="#{activity.hours} hours"
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length=>40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity.class == Blog
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Blog
                  %span=activity.user.name
                  %span.label.label-info posted
                  %strong=link_to "#{truncate(activity.title, :length => 50)},", activity
                  %span="#{time_ago_in_words(activity.created_at)} ago"
        -else
          %tr
            %td.empty-table
              %h6 No organization activity.
.row-fluid
  .span8.offset2
    %table.table.table-bordered.table-striped
      %tr
        %th{:style => "text-align:center"} Recent School Activity
        -if @school.present?
          -@school.each do |activity|
            -if activity[:value]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Donation
                  %span=activity.user.name
                  %span raised
                  %span.label.label-success=number_to_currency(activity.value)
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length => 40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity[:hours]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Volunteering
                  %span=activity.user.name
                  %span committed
                  %span.label.label-important="#{activity.hours} hours"
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length=>40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity.class == Blog
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Blog
                  %span=activity.user.name
                  %span.label.label-info posted
                  %strong=link_to "#{truncate(activity.title, :length => 50)},", activity
                  %span="#{time_ago_in_words(activity.created_at)} ago"
        -else
          %tr
            %td.empty-table
              %h6 No recent school activity.
.row-fluid
  .span8.offset2
    %table.table.table-bordered.table-striped
      %tr
        %th{:style => "text-align:center"} Recent National Activity
        -if @feed.present?
          -@feed.each do |activity|
            -if activity[:value]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Donation
                  %span=activity.user.name
                  %span raised
                  %span.label.label-success=number_to_currency(activity.value)
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length => 40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity[:hours]
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Volunteering
                  %span=activity.user.name
                  %span committed
                  %span.label.label-important="#{activity.hours} hours"
                  %span for the
                  %strong=link_to "#{truncate(activity.title, :length=>40)},", activity
                  %span="#{time_ago_in_words(activity.date)} ago"

            -elsif activity.class == Blog
              %tr
                %td{:style => "text-align:center"}
                  %span.tiny-label.pull-left Blog
                  %span=activity.user.name
                  %span.label.label-info posted
                  %strong=link_to "#{truncate(activity.title, :length => 50)},", activity
                  %span="#{time_ago_in_words(activity.created_at)} ago"
        -else
          %tr
            %td.empty-table
              %h6 No recent activity.
