=render 'top_bar'
.hero-unit{:style => "margin-top:20px;"}
  %h3 About Us
  %p 
    %b GreekGood 
    helps you document your philanthropy. Prove your good deeds and become a hero.
    aims to provide the scoreboard for philanthropy within the Greek community. We help fraternities and sororities document and track their fundraising activity and volunteer work.

  #divider
  
  .row-fluid
    .span4 
      And you'll always know who's on top.

    .span4
      =Volunteering.sum('hours')
      hours volunteered to date.
      =link_to "Document hours now", volunteerings_path, class: "btn btn-info btn-large"

    .span4
      =number_to_currency(Donation.sum('value'))
      dollars raised to date.
      =link_to "Document donations now", donations_path, class: "btn btn-success btn-large"
