.row-fluid
  .span6
    %h5.panel-header Greek-ography
    =render 'map'

  .span6.activity
    -unless @feed.nil?
      =render 'index_feed'

=render 'top_bar'
=render 'pages/carousel'
/ # =render 'hero'
