-content_for :head do
  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# greekgood: http://ogp.me/ns/fb/greekgood#"}
    %meta{:content => ENV['APP_ID'], :property => "fb:app_id"}/
    %meta{:content => "greekgood:dollar", :property => "og:type"}/
    %meta{:content => "https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png", :property => "og:image"}/
=render "fb"

.row-fluid
  .span6.offset3.margin-top-50
    %div.panel
      %h3 Thanks for your interest in doing Good!
      %p
        %strong Expedite your approval
        %span by inviting your chapter and tagging us in the post on facebook!
      %br
      %div.inline.text-center=yield :fb
      %br
      %p We're going to better the world through philanthropy. Get ready.
      %p Sincerely,
      %p
        The GreekGood team

