.span6.offset3.well.text-center
  %small
    Funds raised by
    %b="#{@donation.user.name},"
    a 
    %span=@donation.user.member_type
    %br
    of the
    %b=@donation.user.chapter.name
    chapter of
    %b=@donation.user.organization.name
    at
    the
    %b=@donation.user.school.name