=simple_form_for @donation do |f|
  -if @donation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@donation.errors.count, "error")} prohibited this donation from being saved:"
      %ul
        -@donation.errors.full_messages.each do |msg|
          %li= msg
  %br
  .field= f.text_field :value, :placeholder => "Dollars Raised"
  .field=f.text_field :beneficiary, :placeholder => "Beneficiary Name"
  .field= f.text_field :title, :placeholder => "Fundraiser Name"
  .field= f.text_field :location, :placeholder => "Location (Fundraiser or Beneficiary)"
  .field= f.text_area :purpose, :placeholder => "Purpose of Fundraiser"
  .field Date and Time of Fundraiser:
  .field=f.date_select :date
  .field=f.submit 'Document', class: "btn btn-success btn-large"

