=link_to "Post Donation", "#", class: "btn btn-success addResource btn-large"
-if current_user
  -if current_user.chapter.donations.present?
    %h5 Recent Donations
    %ol
      -current_user.chapter.donations.each do |donation|
        %li="#{donation.user.name} raised #{donation.value} #{time_ago_in_words(donation.created_at)} ago"
  -elsif current_user.organization.donations.present?
    %h5 Recent Donations
    %ol
      -current_user.organization.donations.each do |donation|
        %li="#{donation.user.name} raised #{donation.value} #{time_ago_in_words(donation.created_at)} ago (#{user.chapter.name} chapter)"
-else
  %h5 Be the first in your entire organization to donate!
