.row-fluid
  .span10.offset1.margin-top-25
    %h2.inline Donations

    -unless !current_user or current_user._official?
      %span.pull-right.margin-control-15=link_to raw("Document Donations &rarr;").html_safe, new_donation_path, :class => "btn btn-success btn-large"
    -else
      %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"

    %table.table.table-bordered.table-striped
      %tr
        %th Value
        %th Title
        %th Beneficiary
        %th Date
        %th Purpose
        -if current_user
          -if current_user.donations.present?
            %th{colspan: 2} Manage

      -if current_user
        -if current_user.donations.present?
          -current_user.donations.each do |donation|
            %tr
              %td=donation.value
              %td=link_to donation.title, donation
              %td=donation.beneficiary
              %td=donation.date.to_s(:long)
              %td=truncate(donation.purpose, :length => 20)
              -if is_owner?(donation)
                %td=link_to 'Edit', edit_donation_path(donation)
                %td=link_to 'Delete', donation, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -elsif current_user._official? # don't show content for an official?
          %th.empty-table{colspan: 6}
            %span No recent activity!

      -else # not logged in.
        %th.empty-table{colspan: 6}
          %span No recent activity!
          %span.margin-sides-5 Get started:
          %span=link_to "Request Invite", register_path, :class => "btn btn-success btn-mini margin-sides-5"
          %span=link_to "Log In", login_path, :class => "btn btn-info btn-mini margin-sides-5"
          .row-fluid.text-center
            %span=link_to raw('&larr; Back').html_safe, :back

    .row-fluid.text-center
      %span=link_to raw('&larr; Back').html_safe, :back

