.row-fluid.margin-top-50.text-center
  .span6.offset3.well
    %h1 New Donation
    =render 'form'
.row-fluid
  .span6.offset3.well.text-center
    =link_to raw('&larr; Back').html_safe, donations_path

