/ =raise current_user
-content_for :head do
  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# greekgood: http://ogp.me/ns/fb/greekgood#"}
    %meta{:content => ENV['APP_ID'], :property => "fb:app_id"}/
    %meta{:content => "greekgood:dollar", :property => "og:type"}/
    %meta{:content => donation_url(@donation), :property => "og:url"}/
    %meta{:content => @donation.value, :property => "og:title"}/
    %meta{:content => "https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png", :property => "og:image"}/

.row-fluid
  .span6.offset3.well.text-center.margin-top-50
    %h4.page-header=@donation.title.titleize
    %p
      %b Value Contributed:
      %span.font-success=number_to_currency(@donation.value)

    %strong Beneficiary:
    .label=@donation.beneficiary

    %p
    %p
      %b Date:
      %span=@donation.date.strftime("%b %e, %Y at %l:%M %p")
    %p
      %b Purpose:
      %span=@donation.purpose

    .label{ :class => @donation.label_class }=@donation.status

.row-fluid
  =render "author"

-if current_user
  -if @donation.approved?
    -if current_user.chapter or @donation.approval.user == current_user
      -if @donation.user.chapter == current_user.chapter or @donation.approval.user == current_user
        .row-fluid
          .span6.offset3.panel.text-center
            %span.label.label-warning=@donation.approver_title
            %h6.inline=@donation.approver
            %strong commented:
            %p
              %i=@donation.approval.comments
            %small.subtitle visible only to
            %span
              %small.subtitle="#{@donation.user.chapter.name} chapter."


-if current_user
  .row-fluid
    .span6.offset3.panel.text-center.margin-0.padding-5
      %ul.manage-links
        %li=link_to raw('&larr; Back').html_safe, :back
        -if !@donation.approved?                    # donation not approved.
          -if current_user.can_approve?(@donation)  # official or admin?
            \|
            %li=button_to 'Approve', { controller: "approvals", action: "create", id: @donation.id, :approvable_type => "donation"}, :class => "btn btn-mini btn-success"
        -elsif is_owner?(@donation.approval)        # did you approve originally?
          \|
          %li=link_to 'Unapprove', @donation.approval, :class=> "btn btn-mini btn-danger", method: :delete, :data => { :confirm => "Really Unapprove?" }
        -elsif (is_owner?(@donation) || current_user.has_role?(:admin))
          \|
          %li=link_to 'Edit ', edit_donation_path(@donation), :class=> "btn btn-mini"

-else
  .row-fluid.text-center
    %span=link_to raw('&larr; Back').html_safe, :back
