.row-fluid
  .span4.offset4.well.invite-well
    %h3 Log in
    =simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
      =f.email_field :email, :autofocus => true, :placeholder => "Email Address"
      %br
      =f.password_field :password, :placeholder => "Password"
      %br
      =f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      =f.button :submit, "Sign in", :class => 'btn-large btn-success'
      %br
  .row-fluid
    .span4.offset4.well
      =render "devise/shared/links"
