%table.table.table-bordered.table-striped
  %tr
    %th{:style => "text-align:center"} Recent School Activity
    -if @school_activity.present?
      -@school_activity.each do |activity|
        / -next if activity.user == current_user
        -if activity[:value]
          %tr
            %td{:style => "text-align:center"}
              %span.tiny-label.pull-left Donation
              %strong=link_to activity.user.name, profile_path(activity.user.id)
              %span.label.label-success="raised #{number_to_currency(activity.value)}"
              %span for the
              %strong=link_to "#{truncate(activity.title, :length => 40)},", activity
              %span="#{time_ago_in_words(activity.date)} ago"

        -elsif activity[:hours]
          %tr
            %td{:style => "text-align:center"}
              %span.tiny-label.pull-left Volunteering
              %strong=link_to activity.user.name, profile_path(activity.user.id)
              %span.label.label-important="volunteered #{activity.hours} hours"
              %span for the
              %strong=link_to "#{truncate(activity.title, :length=>40)},", activity
              %span="#{time_ago_in_words(activity.date)} ago"

        -elsif activity.class == Blog
          %tr
            %td{:style => "text-align:center"}
              %span.tiny-label.pull-left Blog
              %strong=link_to activity.user.name, profile_path(activity.user.id)
              %span.label.label-info posted
              %strong=link_to "#{truncate(activity.title, :length => 50)},", activity
              %span="#{time_ago_in_words(activity.created_at)} ago"
    -else
      %tr
        %td.empty-table
          %h6 No recent school activity.
