.span3
  %div.well
    %p
      %strong Members:
      %span=@school.sum_users
    %p
      %strong Chapters:
      %span=@school.sum_chapters
    %p
      %strong Location:
      %span=@school.location

  .row-fluid
    .span12
      %div.well
        %p
          %strong Total fundraising:
          %span.label.label-success=@school.sum_donations
        %p
          %strong Total volunteering:
          %span.label.label-important=@school.sum_volunteerings
        %p
          %strong Legitimacy Ratio
          %span.label.label-warning=@school.legitimacy_ratio

      .row-fluid
        .span12.well
          %p
            %strong Per Student:
          %p
            %strong Average Raised:
            %span.font-success=@school.average_donations
          %p
            %strong Average Hours:
            %span.font-warning=@school.average_volunteerings

  .row-fluid
    .span12.well
      %strong Top Fundraisers
      %ol
        -@school.chapters.sort_by(&:sum_donations).reverse.take(2).each do |chapter|
          %li
            %span=chapter.organization.name
            %span="#{number_to_currency(chapter.donations.sum(:value))} raised."
      %strong Top Volunteers
      %ol
        -@school.chapters.sort_by(&:sum_volunteerings).reverse.take(2).each do |chapter|
          %li
            %span=chapter.organization.name
            %span="#{chapter.volunteerings.sum(:hours)} hours volunteered."
