.row-fluid
  .span10.offset1.margin-top-25
    %h2.inline  School Roster
    %span.subtitle
      %small="(#{@schools.size} total)"

    %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"

    %table.table.table-bordered.table-striped
      %tr
        %th Funds Raised
        %th Hours Committed
        %th Name
        %th Total Greeks
        %th Location
        -if current_user
          -if current_user.has_role? :admin
            %th{colspan: 3} Manage

      -@schools.each do |school|
        %tr
          %td= number_to_currency(school.donations.sum(:value))
          %td= school.volunteerings.sum(:hours)
          %td= link_to school.name, school
          %td= school.users.count
          %td= school.location
          -if current_user
            -if current_user.has_role? :admin
              %td= link_to 'Show', school
              %td= link_to 'Edit', edit_school_path(school)
              %td= link_to 'Destroy', school, :method => :delete, :data => { :confirm => 'Are you sure?' }


