.row-fluid
  .span10.offset1.margin-top-25

    %h2.inline=@school.name
    %span
      -if current_user
        -if current_user.superuser?
          =link_to 'Edit', edit_school_path(@school)

    %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"

    .row-fluid
      =render "school_sidebar"

      .span9
        =render "school_feed"
