%tr
  -if current_user
    -if current_user.can_edit_chapter?(@chapter)
      -if @chapter.users.present?
        -UserDecorator.decorate_collection(@chapter.users).each do |user|
          %td
            %span.user-name=user.name
            %span.user-email=user.email
            %i.icon-envelope.show-email
            %i.icon-user.show-email
          %td=user.total_raised
          %td=user.total_hours
      -else
        %td.empty-table
          / %th.empty-table{colspan: 6}
          %span No users yet.
          %span=link_to "Invite or Import Some!", "#", :class => "btn btn-success btn-mini margin-sides-5"
