.span3
  %div.well
    %h5.inline=link_to truncate(@chapter.organization.name, :length => 25), @chapter.organization
    %span
      %small.subtitle=@chapter.organization.gender
    %p
      %strong School:
      %span=link_to truncate(@chapter.school.name, :length => 25), @chapter.school
    %p
      %strong Members:
      %span=@chapter.sum_members

  .row-fluid
    .span12.well
      %p
        %strong Total raised to date:
        %span.label.label-success=@chapter.total_raised
        %small.subtitle=@chapter.percentage_of_organization_funds
      %p
        %strong Total hours volunteered:
        %span.label.label-important=@chapter.sum_volunteerings
        %small.subtitle=@chapter.percentage_of_organization_hours
      %p
        %strong Legitimacy Ratio
        %span.label.label-warning=@chapter.chapter_legitimacy

  .row-fluid
    .span12.well
      %p
        %strong Per
        %strong=@chapter.member_type
      %p
        %strong Average Raised:
        %span.font-success=@chapter.average_donations
      %p
        %strong Hours Volunteered:
        %span.font-important=@chapter.average_volunteerings

  .row-fluid
    .span12.well
      %p
        %strong Location:
        %span=@chapter.school.location

      %p
        %strong Mission:
        %span=@chapter.mission
