.span9.feed
  %table.table.table-striped.table-bordered
    %tr
      %th{:style => "text-align:center"} Recent Chapter Activity
      =render "chapter_profile_feed"

.span9.user-roster
  %table.table.table-striped.table-bordered
    %tr
      %th{:style => "text-align:center", :colspan => 3} Chapter Roster
      =render "chapter_users"
