-if current_user
  -if current_user.can_edit_chapter?(@chapter)
    %ul.unstyled.inline.margin-top-25.pull-right.li-5
      %li=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"
      %li=link_to 'Activity', "#", :class => "btn btn-mini btn-info hide-user"
      %li=link_to 'Users', "#", :class => "btn btn-mini btn-success hide-feed"
      %li=link_to 'Edit', edit_chapter_path(@chapter), :class => "btn btn-mini btn-warning"
-else
  %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"
