-if @feed.present?
  -@feed.each do |feed|
    -if feed[:value]
      %tr
        %td{:style => "text-align:center"}
          %span.label.pull-left Donation
          %strong=link_to feed.user.name, profile_path(feed.user.id)
          %span.label.label-success raised
          %strong=link_to number_to_currency(feed.value), feed
          %span="#{time_ago_in_words(feed.created_at)} ago."

    -elsif feed[:hours]
      %tr
        %td{:style => "text-align:center"}
          %span.label.pull-left Volunteering
          %strong=link_to feed.user.name, profile_path(feed.user.id)
          %span.label.label-important volunteered
          %strong=link_to "#{feed.hours} hours", feed
          %span="#{time_ago_in_words(feed.created_at)} ago."
    -elsif feed.class == Blog
      %tr
        %td{:style => "text-align:center"}
          %span.label.pull-left Blog
          %strong=link_to feed.user.name, profile_path(feed.user.id)
          %span.label.label-info posted
          %strong=link_to truncate(feed.title, :length => 35), feed
          %span="#{time_ago_in_words(feed.created_at)} ago"

-else
  %tr
    %td.empty-table
      / %th.empty-table{colspan: 6}
      -unless current_user.is_administrator?
        %span No recent activity!
        %span.margin-sides-5 Get started:
        %span=link_to "Request Invite", register_path, :class => "btn btn-success btn-mini margin-sides-5"
        %span=link_to "Log In", login_path, :class => "btn btn-info btn-mini margin-sides-5"
      -else
        %span No recent activity!

