=simple_form_for @chapter do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
      %ul
        - @chapter.errors.full_messages.each do |msg|
          %li= msg

  .field
    =f.text_field :name
  .field
    =f.text_field :location
  .field
    =f.text_area :mission
  .actions
    =f.button :submit
