.row-fluid
  .span10.offset1.margin-top-25
    %h2.inline Chapter Roster
    %span.subtitle
      %small="(#{@chapters.size} total)"

    %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"

    %table.table.table-bordered.table-striped
      %tr
        %th Funds Raised
        %th Volunteer Hours
        %th Chapter Name
        %th Location
        %th School
        %th Organization
        -if current_user
          -if current_user.has_role? :admin
            %th{colspan: 3} Manage

      -if @chapters
        -@chapters.each do |chapter|
          %tr
            %td= number_to_currency(chapter.donations.sum(:value))
            %td= chapter.volunteerings.sum(:hours)
            %td= link_to chapter.name, organization_chapter_path(chapter.organization, chapter)
            %td= chapter.school.location
            %td= link_to chapter.school.name, chapter.school
            %td= link_to chapter.organization.name, chapter.organization
            -if current_user
              -if current_user.has_role? :admin
                %td= link_to 'Edit', edit_chapter_path(chapter)
                %td= link_to 'Delete', chapter, :method => :delete, :data => { :confirm => 'Are you sure?' }


      -else
        No registered chapters yet. Email us to get going.
