.row-fluid
  .span10.offset1.margin-top-25

    %h2.inline=@chapter.name
    %span
      %small.subtitle Chapter

    =render "chapter_nav"

    .row-fluid
      =render "chapter_sidebar"
      =render "chapter_content"

