/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require_tree .
 */


.top-bar {
	background: #ecf0f1;
	padding: 1.5em 1.75em;
	color: #34495e;

	a {
		color: #FFF;
		&:hover, &:visited { color: #FFF; }
	}

	h4 {
		line-height: 12px;
		display: inline-block;
	}

	.invite {
		margin-top: 12px;
	}
}

#divider {
	height: 1px;
	box-shadow: 0 1px 3px rgba(20,20,20,0.35);
	border-bottom: 1px solid rgba(0,0,0,0.75);
	margin: 15px 0;
}

#map{
  clear:both;
  display: block;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.gravatar {
	img {
		height: 50px;
		width: 50px;
		border-radius: 30px;
		margin-bottom: 10px;
	}
}

.gravatar-nav {
	img {
		height: 20px;
		width: 20px;
		border-radius: 30px;
		margin-top: 8px;
	}
}


footer {
	border-top: 1px solid black;
	background: #333;
	color: #FFF;
	text-align: center;
	height: 85px;
	padding-top: 25px;
	margin-top: 35px;
	width: 100%;

	a {
		color: #888;
	}
}

.dim {
	color: #999;
}

.sessions, .registrations {
		text-align: center;

		form_wrapper {
			padding: 75px;
			border: 1px solid #DDD;
		}
}

.registration_form {
	margin: 0;
	padding: 0;
}

.invite-well {
	margin: 50px 0;
	text-align: center;
}

