=simple_form_for @organization do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:"
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :orientation
    = f.text_field :orientation
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.button :submit
