.row-fluid.margin-top-50.text-center
  .span6.offset3.well
    %h3.inline Editing #{@organization.name}
    =render 'form'
.row-fluid
  .span6.offset3.well.text-center
    =link_to raw('&larr; Back').html_safe, :back

