.row-fluid
  .span10.offset1.margin-top-25
    %h2.inline Organization Roster
    %span.subtitle
      %small="(#{@organizations.size} total)"

    %span.pull-right.margin-top-25=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"

    %table.table.table-bordered.table-striped
      %tr
        %th Funds Raised
        %th Name
        %th Gender
        %th Orientation
        %th Chapters
        %th Members
        -if current_user
          -if current_user.has_role? :admin
            %th{colspan: 3} Manage

      -@organizations.each do |organization|
        %tr
          %td=number_to_currency(organization.sum_donations)
          %td=link_to organization.name, organization
          %td=organization.gender
          %td=organization.orientation
          %td=link_to organization.chapters.size, organization #need to update this later (nested routes?)
          %td=organization.members
          -if current_user
            -if current_user.has_role? :admin
              %td= link_to 'Edit', edit_organization_path(organization)
              %td= link_to 'Delete', organization, :method => :delete, :data => { :confirm => 'Are you sure?' }


