.row-fluid
  .span10.offset1.margin-top-25

    %h2.inline=@organization.name
    %span
      -if current_user
        -if current_user.has_role? :admin
          =link_to 'Edit', edit_organization_path(@organization)

    %span.pull-right.margin-top-20=link_to raw("&larr; Back").html_safe, :back, :class => "btn btn-mini"

    .row-fluid
      .span3
        %div.well
          %p
            %strong Members:
            %span=@organization.members
          %p
            %strong Chapters:
            %span=@organization.chapters.size
          %p
            %strong Gender:
            %span=@organization.gender
          %p
            %strong Orientation:
            %span=@organization.orientation


        .row-fluid
          .span12.well
            %h6.text-center
            %p
              %strong Total funds raised:
              %span.label.label-success=number_to_currency(@organization.donations.sum(:value))
            %p
              %strong Total volunteer hours:
              %span.label.label-warning=@organization.volunteerings.sum(:hours)
            %p
              %strong Legitimacy Ratio:
              %span.label.label-important=@organization.legitimacy_ratio

      .span9
        %table.table.table-bordered.table-striped
          %tr
            %th Chapter Name
            %th School
            %th Funds Raised
            %th Volunteer Hours
            %th Members
          -if @organization.chapters.blank?
            %tr
              %td.empty-table{:colspan => 5, :style => "text-align:center"}
                No chapters for this organization yet!
          -else
            -@organization.chapters.each do |chapter|
              %tr
                %td=link_to chapter.name, organization_chapter_path(@organization, chapter)
                %td=link_to chapter.school.name, chapter.school
                %td=number_to_currency(chapter.sum_donations)
                %td=chapter.sum_volunteerings
                %td=chapter.users.size
