-content_for :fb do
  %a.btn.btn-fb.btn-large{href: "#", onclick: "\r\n    window.open(\r\n      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),\r\n      'facebook-share-dialog',\r\n      'width=626,height=436');\r\n    return false;"}
    Spread the Word on FB &rarr;
