%ul.nav.unstyled.inline
  -if user_signed_in?
    %li=link_to "About", about_path
    %li=link_to "Organizations", organizations_path
    %li=link_to "Chapters", chapters_path
    %li=link_to "Schools", schools_path
    %li=link_to current_user.full_name, profile_path(current_user.id)
    %li=link_to "Logout", logout_path, :method => :delete
    -if current_user.has_role? :admin
      %li=link_to "Admin", users_path
  -else
    %li=link_to "How it Works", about_path
    %li=link_to "Organizations", organizations_path
    %li=link_to "Chapters", chapters_path
    %li=link_to "Schools", schools_path
    %li=link_to "Log In", login_path
