%body{:class => "#{controller_name} #{action_name}"}
  %header
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") GOOD
          .container.nav-collapse.pull-right
            =render 'navigation'

    =yield :top_bar unless user_signed_in?
