-content_for :hero do
  .hero-unit.fluid
    .hero-content
      .row-fluid.title-row-above-hero
        %span.hero-title
          %h5 National Greek Philanthropy Scoreboard

      .row-fluid.three-column-grid
        .span4
          %h6 Top Schools by Greek Volunteer hours
          %ul.unstyled
            -@school_hours.each do |school|
              %li=link_to "#{school.name}: #{school.volunteerings.sum(:hours)}", school_path(school)

        .span4
          %h6 Top-Ranked Greeks, by Funds Raised
          %ul.unstyled
            -@ranked_orgs.each do |org|
              %li=link_to "#{org.name} raised $#{org.donations.sum(:value)}", organization_path(org)

        .span4
          %h6 Top Chapters by Funds Raised
          %ul.unstyled
            -@ranked_chapters.each do |chapter|
              %li=link_to "$#{chapter.sum_donations} - #{chapter.organization.name}, #{truncate(chapter.school.name, :length=>25)}", chapter_path(chapter)
