%ul.nav.unstyled.inline
  -if user_signed_in?
    %span.pull-left.gravatar-nav=image_tag(current_user.gravatar_url)
    %li=link_to current_user.full_name, profile_path(current_user.id)
    -if current_user.superuser?
      %li=link_to "Admin", users_path
      %li=link_to "Official", approvals_path
      %li=link_to "Officer", current_user.chapter
    -elsif current_user._official?
      %li=link_to "Official", approvals_path
    -elsif current_user.has_role?(:admin)
      %li=link_to "Admin", users_path
      %li=link_to "Officer", current_user.chapter
    %li.margin-top-8
      %span=link_to "Logout", logout_path, :method => :delete
      %i.icon-signout
    / -elsif !current_user
    /   %li=link_to "How it Works", about_path
    /   %li=link_to "Organizations", organizations_path
    /   %li=link_to "Chapters", chapters_path
    /   %li=link_to "Schools", schools_path
    / %li=link_to "Log In", login_path
