-content_for :top_bar do
  .top-bar
    .container-fluid
      %ul.inline.pull-right
        %li=link_to "Request Invite", invite_path, :class => "btn btn-success btn-large pull-right invite"
        / %li=link_to raw("Complete Login " "&nbsp;&nbsp;<i class='icon-facebook'></i>").html_safe, "/auth/facebook", :class => "btn btn-info btn-large pull-right invite"
        %li=link_to "Log In", login_path, :class => "btn btn-info btn-large pull-right invite"
      %h4 Greeks raise over $10 million and volunteer more than a million hours annually.
      %p
        %em What Has Your Chapter Done?
