!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "GreekGood | Official Philanthropy Scoreboard for North America's Fraternities and Sororities."
    %link{:href => "http://fonts.googleapis.com/css?family=Glegoo|Noticia+Text", :rel => "stylesheet", :type => "text/css"}/
    =csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      =javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    =javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    =javascript_include_tag "application"
    =stylesheet_link_tag "application", :media => "all"
    =yield :head
    =render 'header'                
    
    .foreground
      =yield :carousel
      
    =render 'layouts/messages'

    .container-fluid
      .row-fluid
        .span12
          / =bootstrap_flash
          =yield

    =render "footer"

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    =render 'google_tracking'
