!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Greek"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    = yield :head
  %body{:class => "#{controller_name} #{action_name}"}

    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          .brand(href="/") Brand
    .container-fluid
      .row-fluid
        .span12
          = bootstrap_flash
          = yield
    
      %footer
        %p &copy; GreekGood 2013

